main h1,
h2,
h3 {
  color: #42636c;
}

.footer-container {
  margin-top: 20px;
}

.main-container {
  padding: 20px;
}

.main-container p,
li,
td,
label {
  font-size: x-large;
}

.page-container {
  background-color: #e6e6e6;
}

.page-header {
  background-color: #7f9196;
  font-size: x-large;
  padding: 20px 20px 0px;
}

.page-header figcaption {
  color: white;
}